#login-form {
  /* border: 10px solid white; */
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 350px;
}

#login-form input {
  border: none;
  border-bottom: 1px solid gray;
  font-size: 40px;
  border-bottom: 1px solid gray;
  background: none;
  background: none;
  cursor: pointer;
}
#login-form input:last-child {
  border: none;
  margin-left: 15px;
  /* border: 1px solid black; */
  background: white;
  color: black;
  font-size: 25px;
  border-radius: 45%;
  width: 100px;
}

#logout {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s ease-in;
  padding: 5px;
}

#logout:hover {
  transform: scale(1.2);
}

#login_div {
  animation: loginFadein 2s;
}

@keyframes loginFadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
