@import url(login.css);
@import url(clock.css);
@import url(todo.css);
@import url(quotes.css);
@import url(weather.css);

body {
  height: 88vh;
  /* color: rgba(255, 255, 255, 0.7); */
  color: white;
}

header {
  padding-left: 20px;
  padding-right: 10px;
  /* border: 1px solid black; */
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 70%;
  /* border: 1px solid white; */
  display: flex;
  /* flex-wrap: wrap; */
  margin: 40px;
  justify-content: space-evenly;
}

main section {
  /* border: 1px solid white; */
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside {
  width: 30%;
  /* border: 1px solid white; */
  padding: 10px;
  margin: 10px;
}
footer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  bottom: 20px;
}

footer span {
  /* border: 1px solid black; */
  margin: 5px;
}
input {
  color: white;
}
input::placeholder {
  color: white;
}

.display {
  height: 100%;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.display-none {
  display: none;
}
