#todo-form {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#todo-form input {
  font-size: 35px;
  width: 100%;
  /* margin: 5px; */
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
  background: none;
}

#todo-list {
  margin: 10px;
  height: 85%;
  /* border: 1px solid black; */
  font-size: 24px;
}

#todo-list li {
  padding-top: 5px;
}
